@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center.html")

        <!-- Start Section-->
        <section class="relative md:pb-24 md:pt-40 pb-16 pt-36">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                    <div class="lg:col-span-8 md:col-span-6">
                        <div class="p-6 rounded-md shadow-sm dark:shadow-gray-800">

                            <div id="grid" class="md:flex justify-center mx-auto">
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["branding"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/1.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/1.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["designing"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/10.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/10.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["photography"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/2.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/2.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["branding"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/13.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/13.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["branding"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/11.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/11.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["designing"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/12.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/12.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["development"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/4.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/4.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="lg:w-1/4 md:w-1/3 p-1 picture-item" data-groups='["development"]'>
                                    <div class="group relative block overflow-hidden rounded-md shadow-sm dark:shadow-gray-800 duration-500">
                                        <a href="assets/images/portfolio/3.jpg" class="lightbox duration-500 group-hover:scale-105" title="">
                                            <img src="assets/images/portfolio/3.jpg" class="shadow-sm dark:shadow-gray-800" alt="work-image">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-12">
                                <span class="bg-primary inline-block text-white text-xs font-semibold px-2.5 py-0.5 rounded-full h-5">Photography</span>
                                <h3 class="my-3 text-[26px] font-semibold">Get Ready To Up Your <br> Creative Game With The New DJI Mavic Air 2</h3>

                                <ul class="list-none mt-6">
                                    <li class="inline-block font-semibold text-slate-400 mx-4"> <span class="text-slate-900 dark:text-white block">Client :</span> <span class="block">Calvin Carlo</span></li>
                                    <li class="inline-block font-semibold text-slate-400 mx-4"> <span class="text-slate-900 dark:text-white block">Date :</span> <span class="block">23th May, 2022</span></li>
                                    <li class="inline-block font-semibold text-slate-400 mx-4"> <span class="text-slate-900 dark:text-white block">Time :</span> <span class="block">8 Min Read</span></li>
                                </ul>
                            </div>

                            <div class="mt-6">
                                <p class="text-slate-400">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script.</p>
                                <p class="text-slate-400 italic border-x-4 border-primary rounded-ss-xl rounded-ee-xl mt-3 p-3">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>
                                <p class="text-slate-400 mt-3">The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                            </div>
                        </div>

                        <div class="p-6 rounded-md shadow-sm dark:shadow-gray-800 mt-8">
                            <h5 class="text-lg font-semibold">Comments:</h5>

                            <div class="mt-8">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <img src="assets/images/client/01.jpg" class="size-11 rounded-full shadow-sm" alt="">
    
                                        <div class="ms-3 flex-1">
                                            <a href="" class="text-lg font-semibold hover:text-primary duration-500">Calvin Carlo</a>
                                            <p class="text-sm text-slate-400">6th May 2022 at 01:25 pm</p>
                                        </div>
                                    </div>

                                    <a href="" class="text-slate-400 hover:text-primary duration-500 ms-5"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="p-4 bg-gray-50 dark:bg-slate-800 rounded-md shadow-sm dark:shadow-gray-800 mt-6">
                                    <p class="text-slate-400 italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </div>

                            <div class="mt-8">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <img src="assets/images/client/02.jpg" class="size-11 rounded-full shadow-sm" alt="">
    
                                        <div class="ms-3 flex-1">
                                            <a href="" class="text-lg font-semibold hover:text-primary duration-500">Calvin Carlo</a>
                                            <p class="text-sm text-slate-400">6th May 2022 at 01:25 pm</p>
                                        </div>
                                    </div>

                                    <a href="" class="text-slate-400 hover:text-primary duration-500 ms-5"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="p-4 bg-gray-50 dark:bg-slate-800 rounded-md shadow-sm dark:shadow-gray-800 mt-6">
                                    <p class="text-slate-400 italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </div>

                            <div class="mt-8">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <img src="assets/images/client/03.jpg" class="size-11 rounded-full shadow-sm" alt="">
    
                                        <div class="ms-3 flex-1">
                                            <a href="" class="text-lg font-semibold hover:text-primary duration-500">Calvin Carlo</a>
                                            <p class="text-sm text-slate-400">6th May 2022 at 01:25 pm</p>
                                        </div>
                                    </div>

                                    <a href="" class="text-slate-400 hover:text-primary duration-500 ms-5"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="p-4 bg-gray-50 dark:bg-slate-800 rounded-md shadow-sm dark:shadow-gray-800 mt-6">
                                    <p class="text-slate-400 italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </div>

                            <div class="mt-8">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <img src="assets/images/client/04.jpg" class="size-11 rounded-full shadow-sm" alt="">
    
                                        <div class="ms-3 flex-1">
                                            <a href="" class="text-lg font-semibold hover:text-primary duration-500">Calvin Carlo</a>
                                            <p class="text-sm text-slate-400">6th May 2022 at 01:25 pm</p>
                                        </div>
                                    </div>

                                    <a href="" class="text-slate-400 hover:text-primary duration-500 ms-5"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="p-4 bg-gray-50 dark:bg-slate-800 rounded-md shadow-sm dark:shadow-gray-800 mt-6">
                                    <p class="text-slate-400 italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </div>
                        </div>

                        <div class="p-6 rounded-md shadow-sm dark:shadow-gray-800 mt-8">
                            <h5 class="text-lg font-semibold">Leave A Comment:</h5>

                            <form class="mt-8">
                                <div class="grid lg:grid-cols-12 lg:gap-6">
                                    <div class="lg:col-span-6 mb-5">
                                        <div class="text-start">
                                            <label for="name" class="font-semibold">Your Name:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="user" class="size-4 absolute top-3 start-4"></i>
                                                <input name="name" id="name" type="text" class="form-input ps-11 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Name :">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="lg:col-span-6 mb-5">
                                        <div class="text-start">
                                            <label for="email" class="font-semibold">Your Email:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="mail" class="size-4 absolute top-3 start-4"></i>
                                                <input name="email" id="email" type="email" class="form-input ps-11 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Email :">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid grid-cols-1">
                                    <div class="mb-5">
                                        <div class="text-start">
                                            <label for="comments" class="font-semibold">Your Comment:</label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="message-circle" class="size-4 absolute top-3 start-4"></i>
                                                <textarea name="comments" id="comments" class="form-input ps-11 w-full py-2 px-3 h-28 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Message :"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="submit" name="send" class="py-2 px-5 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md w-full">Send Message</button>
                            </form>
                        </div>
                    </div>

                    <div class="lg:col-span-4 md:col-span-6">
                        <div class="sticky top-20">
                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center">Author</h5>
                            <div class="text-center mt-8">
                                <img src="assets/images/client/05.jpg" class="size-24 mx-auto rounded-full shadow-sm mb-4" alt="">

                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Cristina Romsey</a>
                                <p class="text-slate-400">Content Writer</p>
                            </div>

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Recent post</h5>
                            <div class="flex items-center mt-8">
                                <img src="assets/images/blog/06.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Consultant Business</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>
                            
                            <div class="flex items-center mt-4">
                                <img src="assets/images/blog/07.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Grow Your Business</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>
                            
                            <div class="flex items-center mt-4">
                                <img src="assets/images/blog/08.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Look On The Glorious Balance</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Social sites</h5>
                            <ul class="list-none text-center mt-8">
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="facebook" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="instagram" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="twitter" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="linkedin" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="github" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="youtube" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="gitlab" class="size-4"></i></a></li>
                            </ul><!--end icon-->

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Tagscloud</h5>
                            <ul class="list-none text-center mt-8">
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Business</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Finance</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Marketing</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Fashion</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Bride</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Lifestyle</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Travel</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Beauty</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Video</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Audio</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="md:flex justify-center">
                    <div class="lg:w-2/3 text-center">
                        <h3 class="md:text-3xl text-2xl md:leading-normal leading-normal font-semibold mb-6">Subscribe our weekly subscription</h3>

                        <p class="text-slate-400 max-w-xl mx-auto">Add some text to explain benefits of subscripton on your services. We'll send you the best of our blog just once a weekly.</p>

                        <div class="mt-8">
                            <div class="text-center subcribe-form">
                                <form class="relative mx-auto max-w-xl">
                                    <input type="email" id="subemail" name="name" class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-slate-900 dark:text-white rounded-full bg-white/70 dark:bg-slate-900/70 border border-gray-100 dark:border-gray-800" placeholder="Enter your email id..">
                                    <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-primary hover:bg-primary-700 border border-primary hover:border-primary-700 text-white rounded-full">Subcribe Now</button>
                                </form><!--end form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/shufflejs/shuffle.min.js"></script>
        <script src="assets/libs/tobii/js/tobii.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>