@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center-light.html")

        <!-- Start Hero -->
        <section class="relative table w-full py-32 lg:py-36 bg-[url('../../assets/images/blog/bg.jpg')] bg-center bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-slate-900 opacity-80"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center mt-10">
                    <h3 class="md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">Blogs & News</h3>
                </div><!--end grid-->
            </div><!--end container-->
            
            <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                   <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"><a href="index.html">Techwind</a></li>
                   <li class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white" aria-current="page">Blogs</li>
                </ul>
            </div>
        </section><!--end section-->
        <div class="relative">
            <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white dark:text-slate-900">
                <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->

        <!-- Start Section-->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                    <div class="lg:col-span-8 md:col-span-6">
                        <div class="grid lg:grid-cols-2 grid-cols-1 gap-[30px]">
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/01.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Design your apps in your own way</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
        
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/02.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">How apps is changing the IT world</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
        
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/03.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Smartest Applications for Business</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
                            
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/04.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Mobile Marketing, Its Synthes and 2021 Offer Prognosis</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
        
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/05.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Stop Worrying About Deadlines! We Got You Covered</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
        
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/06.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Change Your Strategy: Find a Business Consultant</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
                            
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/07.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Everything About Financial Modeling</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
        
                            <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                                <img src="assets/images/blog/08.jpg" alt="">
        
                                <div class="content p-6">
                                    <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">On the other hand we provide denounce</a>
                                    <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                                    
                                    <div class="mt-4">
                                        <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div><!--blog end-->
                        </div><!--end grid-->

                        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
                            <div class="md:col-span-12 text-center">
                                <nav>
                                    <ul class="inline-flex items-center -space-x-px">
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-s-lg hover:text-white border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">
                                                <i class="uil uil-angle-left text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">2</a>
                                        </li>
                                        <li>
                                            <a href="#" aria-current="page" class="z-10 size-[40px] inline-flex justify-center items-center text-white bg-primary border border-primary">3</a>
                                        </li>
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">4</a>
                                        </li>
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 hover:text-white bg-white dark:bg-slate-900 border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">5</a>
                                        </li>
                                        <li>
                                            <a href="#" class="size-[40px] inline-flex justify-center items-center text-slate-400 bg-white dark:bg-slate-900 rounded-e-lg hover:text-white border border-gray-100 dark:border-gray-800 hover:border-primary dark:hover:border-primary hover:bg-primary dark:hover:bg-primary">
                                                <i class="uil uil-angle-right text-[20px] rtl:rotate-180 rtl:-mt-1"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div><!--end grid-->
                    </div>

                    <div class="lg:col-span-4 md:col-span-6">
                        <div class="sticky top-20">
                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center">Author</h5>
                            <div class="text-center mt-8">
                                <img src="assets/images/client/05.jpg" class="size-24 mx-auto rounded-full shadow-sm mb-4" alt="">

                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Cristina Romsey</a>
                                <p class="text-slate-400">Content Writer</p>
                            </div>

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Recent post</h5>
                            <div class="flex items-center mt-8">
                                <img src="assets/images/blog/06.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Consultant Business</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>
                            
                            <div class="flex items-center mt-4">
                                <img src="assets/images/blog/07.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Grow Your Business</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>
                            
                            <div class="flex items-center mt-4">
                                <img src="assets/images/blog/08.jpg" class="h-16 rounded-md shadow-sm dark:shadow-gray-800" alt="">

                                <div class="ms-3">
                                    <a href="" class="font-semibold hover:text-primary">Look On The Glorious Balance</a>
                                    <p class="text-sm text-slate-400">1st May 2022</p>
                                </div>
                            </div>

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Social sites</h5>
                            <ul class="list-none text-center mt-8">
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="facebook" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="instagram" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="twitter" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="linkedin" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="github" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="youtube" class="size-4"></i></a></li>
                                <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center border border-gray-100 dark:border-gray-800 rounded-md text-slate-400 hover:border-primary hover:text-white hover:bg-primary"><i data-feather="gitlab" class="size-4"></i></a></li>
                            </ul><!--end icon-->

                            <h5 class="text-lg font-semibold bg-gray-50 dark:bg-slate-800 shadow-sm dark:shadow-gray-800 rounded-md p-2 text-center mt-8">Tagscloud</h5>
                            <ul class="list-none text-center mt-8">
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Business</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Finance</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Marketing</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Fashion</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Bride</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Lifestyle</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Travel</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Beauty</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Video</a></li>
                                <li class="inline-block m-2"><a href="" class="px-3 py-1 text-slate-400 hover:text-white dark:hover:text-white bg-gray-50 dark:bg-slate-800 text-sm hover:bg-primary dark:hover:bg-primary rounded-md shadow-sm dark:shadow-gray-800 duration-500">Audio</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="md:flex justify-center">
                    <div class="lg:w-2/3 text-center">
                        <h3 class="md:text-3xl text-2xl md:leading-normal leading-normal font-semibold mb-6">Subscribe our weekly subscription</h3>

                        <p class="text-slate-400 max-w-xl mx-auto">Add some text to explain benefits of subscripton on your services. We'll send you the best of our blog just once a weekly.</p>

                        <div class="mt-8">
                            <div class="text-center subcribe-form">
                                <form class="relative mx-auto max-w-xl">
                                    <input type="email" id="subemail" name="name" class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-slate-900 dark:text-white rounded-full bg-white/70 dark:bg-slate-900/70 border border-gray-100 dark:border-gray-800" placeholder="Enter your email id..">
                                    <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-primary hover:bg-primary-700 border border-primary hover:border-primary-700 text-white rounded-full">Subcribe Now</button>
                                </form><!--end form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>