@@include("partials/dark-theme.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center-light.html")

        <!-- Start Hero -->
        <section class="relative py-40 md:h-screen flex items-center overflow-hidden" id="home">
            <div class="absolute inset-0 bg-gradient-to-t from-transparent to-slate-900"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 mt-10 text-center">
                    <div class="md:-rotate-12 -rotate-6">
                        <span class="!font-kaushan text-white/70 block mb-2">Since 1993</span>
                        <span class="!font-kaushan text-white font-semibold lg:text-9xl lg:leading-tight md:text-8xl md:leading-tight text-6xl leading-tight block">Great Coffee <br> Good Vibes</span>
                    
                        <div class="mt-8">
                            <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Explore More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--end section-->
        <!-- End Hero -->
        
        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal !font-ebgaramond font-medium">Welcome to Techwind Cafe</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Every cup is a performance of thoroughly pressured hot water through the finest delicious and finely ground compacted coffee.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-12 md:grid-cols-12 grid-cols-1 mt-8 gap-[30px] items-center">
                    <div class="lg:col-span-4 md:col-span-6 lg:order-1 order-2">
                        <div class="grid grid-cols-1 gap-[30px]">
                            <div class="group duration-500 md:text-end text-start">
                                <img src="assets/images/cafe/icons/coffee-time.svg" class="size-16 md:ms-auto p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2 md:order-1 order-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">High Quality</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                            
                            <div class="group duration-500 md:text-end text-start">
                                <img src="assets/images/cafe/icons/pot.svg" class="size-16 md:ms-auto p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2 md:order-1 order-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">Pure Grades</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                            
                            <div class="group duration-500 md:text-end text-start">
                                <img src="assets/images/cafe/icons/coffee-beans.svg" class="size-16 md:ms-auto p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2 md:order-1 order-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">Proper Roasting</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>

                    <div class="lg:col-span-4 md:col-span-12 lg:order-2 order-1">
                        <img src="assets/images/cafe/cafe-services.png" class="lg:w-auto md:w-80 mx-auto" alt="">
                    </div>

                    <div class="lg:col-span-4 md:col-span-6 order-3">
                        <div class="grid grid-cols-1 gap-[30px]">
                            <div class="group duration-500">
                                <img src="assets/images/cafe/icons/coffee.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">The Perfect Cup</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                            
                            <div class="group duration-500">
                                <img src="assets/images/cafe/icons/drip-glass.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">Coffee Machine</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                            
                            <div class="group duration-500">
                                <img src="assets/images/cafe/icons/coffee-cup.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="mt-2">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">Coffee to Go</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--ens section-->
        <!-- End -->
        
        <!-- Start -->
        <section class="relative md:pt-0 pt-48 bg-[url('../../assets/images/cafe/cta.jpg')] bg-center bg-no-repeat bg-cover jarallax" data-jarallax data-speed="0.5">
            <div class="container relative">
                <div class="md:flex justify-end">
                    <div class="md:w-1/2 md:py-36 py-10 lg:px-16 md:px-10 px-6 bg-white dark:bg-slate-900 text-center">
                        <img src="assets/images/cafe/icons/coffee.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white mx-auto" alt="">

                        <h4 class="!font-ebgaramond text-3xl font-medium mt-4">Happy Hours</h4>

                        <p class="text-primary !font-ebgaramond text-lg font-medium mt-2">Starts at 3pm</p>

                        <p class="text-slate-400 mt-4">The restaurant will open at 3pm for happy hour and dinner service starting at 5pm. We will continue to offer brunch on weekends from 10am-3pm with bottomless mimosas. We will also continue with our late night lounge on Friday and Saturdays until 2am.</p>
                    
                        <div class="mt-4">
                            <a href="tel:+152534-468-854" class="relative inline-block font-semibold tracking-wide align-middle text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out !font-ebgaramond text-lg">+152 534-468-854</a>
                        </div>

                        <div class="mt-8">
                            <a href="" class="py-2.5 px-6 inline-block font-semibold tracking-wide border align-middle duration-500 text-lg text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Book Now</a>
                        </div>
                    </div>
                </div><!--end content-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal !font-ebgaramond font-medium">Explore Our Menu</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Every cup is a performance of thoroughly pressured hot water through the finest delicious and finely ground compacted coffee.</p>
                </div><!--end grid-->

                <div class="grid md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/01.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Cafe Latte</a>
                                <h6 class="text-primary font-semibold">$13.79</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/02.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Ice Coffee</a>
                                <h6 class="text-primary font-semibold">$12.49</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/03.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Mocha</a>
                                <h6 class="text-primary font-semibold">$10.99</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/04.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Espresso</a>
                                <h6 class="text-primary font-semibold">$19.99</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/05.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Americano</a>
                                <h6 class="text-primary font-semibold">$17.79</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/06.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Boerewors</a>
                                <h6 class="text-primary font-semibold">$57.79</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/01.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Cafe Latte</a>
                                <h6 class="text-primary font-semibold">$13.79</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/02.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Ice Coffee</a>
                                <h6 class="text-primary font-semibold">$12.49</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/03.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Mocha</a>
                                <h6 class="text-primary font-semibold">$10.99</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->

                    <div class="flex ">
                        <img src="assets/images/cafe/coffee-cup/04.jpg" class="size-16 rounded-full shadow-md dark:shadow-gray-800" alt="">

                        <div class="ms-3 w-full">
                            <div class="flex justify-between pb-2 border-b border-gray-100 dark:border-gray-800">
                                <a href="" class="!font-ebgaramond hover:text-primary text-xl font-semibold">Espresso</a>
                                <h6 class="text-primary font-semibold">$19.99</h6>
                            </div>

                            <p class="text-slate-400 mt-2">A reader will be distracted by the readable</p>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal !font-ebgaramond font-medium">Customer Reviews</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Every cup is a performance of thoroughly pressured hot water through the finest delicious and finely ground compacted coffee.</p>
                </div><!--end grid-->

                <div class="flex justify-center relative mt-8">
                    <div class="relative lg:w-1/2 md:w-3/4 w-full">
                        <div class="tiny-one-item">
                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " Techwind made the processes so easy. Techwind instantly increased the amount of interest and ultimately saved us over $10,000. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/01.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " I highly recommend Techwind as the new way to sell your home "by owner". My home sold in 24 hours for the asking price. Best $400 you could spend to sell your home. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/02.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " My favorite part about selling my home myself was that we got to meet and get to know the people personally. This made it so much more enjoyable! " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/03.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " Great experience all around! Easy to use and efficient. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/04.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " Techwind made selling my home easy and stress free. They went above and beyond what is expected. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/05.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic !font-ebgaramond"> " Techwind is fair priced, quick to respond, and easy to use. I highly recommend their services! " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-orange-500 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/06.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold !font-ebgaramond text-lg">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid md:grid-cols-2 gap-[30px] items-center">
                    <div class="">
                        <img src="assets/images/cafe/ab.jpg" class="shadow-sm dark:shadow-gray-800 rounded" alt="">
                    </div><!--end content-->

                    <div class="lg:ms-8">
                        <h4 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal !font-ebgaramond font-medium">The Best Quality Coffee <br> Tastes At One Place</h4>
                        <p class="text-slate-400 max-w-xl mx-auto">Every cup is a performance of thoroughly pressured hot water through the finest delicious and finely ground compacted coffee.</p>

                        <div class="grid grid-cols-1 gap-[30px] mt-6">
                            <div class="group flex duration-500 items-center">
                                <img src="assets/images/cafe/icons/coffee.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="flex-1 ms-3">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">The Perfect Cup</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                            
                            <div class="group flex duration-500 items-center">
                                <img src="assets/images/cafe/icons/drip-glass.svg" class="size-16 p-3 rounded-full shadow-md dark:shadow-gray-800 bg-white" alt="">
                                <div class="flex-1 ms-3">
                                    <a href="" class="text-xl font-semibold !font-ebgaramond hover:text-primary">Coffee Machine</a>
                                    <p class="text-slate-400 mt-3">Composed in a pseudo-Latin language which more or less pseudo-Latin.</p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>

                        <div class="mt-8">
                            <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Explore More <i class="uil uil-arrow-right"></i></a>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal !font-ebgaramond font-medium">Latest News</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Every cup is a performance of thoroughly pressured hot water through the finest delicious and finely ground compacted coffee.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cafe/b1.jpg" class="" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-xl font-semibold !font-ebgaramond hover:text-primary duration-500 ease-in-out">Best Coffee Shops In The State You Should Know</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cafe/b2.jpg" class="" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-xl font-semibold !font-ebgaramond hover:text-primary duration-500 ease-in-out">The Culture And Coffee Customs Nowadays</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cafe/b3.jpg" class="" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-xl font-semibold !font-ebgaramond hover:text-primary duration-500 ease-in-out">Best Cup Of Drinks For Your Break Today</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Insta Post Start -->
        <div class="container-fluid relative">
            <div class="grid grid-cols-1 relative">
                <div class="tiny-twelve-item">
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/01.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/01.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/02.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/02.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/03.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/03.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/04.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/04.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/05.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/05.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/06.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/06.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/01.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/01.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/02.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/02.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/03.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/03.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/04.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/04.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/05.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/05.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/06.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/06.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/05.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/05.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tiny-slide">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <a href="assets/images/cafe/coffee-cup/06.jpg" class="lightbox d-inline-block" title="">
                                    <img src="assets/images/cafe/coffee-cup/06.jpg" class="" alt="Insta Post">
                                    <div class="overlay bg-slate-900"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="absolute top-2/4 -translate-y-2/4 start-2/4 ltr:-translate-x-2/4 rtl:translate-x-2/4 text-center hidden md:block">
                    <a href="https://www.instagram.com/shreethemes/" target="_blank" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Follow Now</a>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
        <!-- Insta Post End -->

        @@include("partials/footer/footer-restaurent.html")

        <!-- @@include("partials/cookies.html") -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tobii/js/tobii.min.js"></script>
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/js/easy_background.js"></script>
        <script src="assets/libs/jarallax/jarallax.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <script>
            easy_background("#home",
                {
                    slide: ["assets/images/cafe/bg1.jpg", "assets/images/cafe/bg2.jpg", "assets/images/cafe/bg3.jpg"],
                    delay: [5000, 5000, 5000]
                }
            );
        </script>
        <!-- JAVASCRIPTS -->
    </body>
</html>