@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")

        @@include("partials/navbar/nav-center.html")

        <!-- Start Hero -->
        <section class="relative md:h-screen py-36 flex items-center bg-[url('../../assets/images/construction/bg.jpg')] bg-center overflow-hidden bg-cover">
            <div class="absolute inset-0 bg-white/30 dark:bg-slate-900/60"></div>
            <div class="container relative z-1">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
                    <div class="lg:col-span-8 md:col-span-7 md:order-1 order-2">
                        <div class="md:me-6">
                            <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 text-slate-900 dark:text-white">Start building <br> your dream home</h4>
                            <p class="text-slate-900 dark:text-white/75 text-lg max-w-xl">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        
                            <div class="mt-6">
                                <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Contact Us</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="lg:col-span-4 md:col-span-5 md:text-center md:order-2 order-1">
                        <a href="#!" data-type="youtube" data-id="S_CGed6E610" class="lightbox lg:size-24 size-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white hover:bg-primary text-primary hover:text-white duration-500 ease-in-out mx-auto">
                            <i class="mdi mdi-play inline-flex items-center justify-center text-3xl"></i>
                        </a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Hero --> 
        
        <!-- FEATURES START -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 justify-center">
                    <div class="relative z-2 duration-500 sm:-mt-[200px] -mt-[140px] m-0">
                        <div class="relative bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-800 rounded-md overflow-hidden">
                            <div class="grid lg:grid-cols-12 grid-cols-1">
                                <div class="lg:col-span-4 order-1 lg:order-2 bg-primary">
                                    <div class="p-[30px] lg:text-start text-center">
                                        <span class="text-xl text-white/75">Our proud</span>
                                        <h4 class="text-2xl font-semibold text-white my-3">25 years of undefeated success</h4>
                                        <p class="text-white/75 max-w-xl mx-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                                        <div class="mt-6">
                                            <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white rounded-md">About us</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="lg:col-span-8 order-2 lg:order-1">
                                    <div class="grid md:grid-cols-2 grid-cols-1 p-[30px] gap-[30px]">
                                        <!-- Content -->
                                        <div class="group flex duration-500">
                                            <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white text-primary rounded-full text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                                <i class="uil uil-ruler-combined"></i>
                                            </div>
                                            <div class="flex-1 ms-4">
                                                <h4 class="mb-0 text-lg font-medium">Project Planning</h4>
                                                <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin frequently than others</p>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        
                                        <!-- Content -->
                                        <div class="group flex duration-500">
                                            <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white text-primary rounded-full text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                                <i class="uil uil-constructor"></i>
                                            </div>
                                            <div class="flex-1 ms-4">
                                                <h4 class="mb-0 text-lg font-medium">Qualified Specialists</h4>
                                                <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin frequently than others</p>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        
                                        <!-- Content -->
                                        <div class="group flex duration-500">
                                            <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white text-primary rounded-full text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                                <i class="uil uil-no-entry"></i>
                                            </div>
                                            <div class="flex-1 ms-4">
                                                <h4 class="mb-0 text-lg font-medium">Constant Maintenance</h4>
                                                <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin frequently than others</p>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                        
                                        <!-- Content -->
                                        <div class="group flex duration-500">
                                            <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white text-primary rounded-full text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                                <i class="uil uil-cog"></i>
                                            </div>
                                            <div class="flex-1 ms-4">
                                                <h4 class="mb-0 text-lg font-medium">Warranty Service</h4>
                                                <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin frequently than others</p>
                                            </div>
                                        </div>
                                        <!-- Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                    <div class="md:col-span-5">
                        <div class="relative">
                            <div class="pe-12">
                                <img src="assets/images/construction/ab01.jpg" class="rounded-md" alt="">
                            </div>

                            <div class="absolute bottom-16 end-0">
                                <img src="assets/images/construction/ab02.jpg" class="rounded-md rounded-ee-[30px] shadow-md size-56" alt="">
                                <div class="absolute bottom-0 end-0 text-center">
                                    <a href="#!" data-type="youtube" data-id="S_CGed6E610" class="lightbox size-14 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-primary text-white">
                                        <i class="mdi mdi-play inline-flex items-center justify-center text-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="md:col-span-7">
                        <div class="lg:ms-4">
                            <span class="bg-primary inline-block text-white text-xs font-semibold px-2.5 py-0.5 rounded-full h-5">About Company</span>
                            <h4 class="mb-6 mt-4 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">World's largest and <br> trusted construction company</h4>
                            <p class="text-slate-400 max-w-xl">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text. This might also explain why one can now find slightly different versions.</p>
                            <div class="mt-6">
                                <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                            </div>

                            <div class="pt-6 mt-6 border-t border-gray-200 dark:border-gray-700">
                                <div class="relative grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
                                    <div class="counter-box">
                                        <h1 class="text-4xl font-bold mb-2"><span class="counter-value" data-target="1548">1010</span>+</h1>
                                        <h5 class="counter-head text-lg font-medium">Projects completed</h5>
                                    </div><!--end counter box-->
                                    
                                    <div class="counter-box">
                                        <h1 class="text-4xl font-bold mb-2"><span class="counter-value" data-target="25">2</span>+</h1>
                                        <h5 class="counter-head text-lg font-medium">Years of experience</h5>
                                    </div><!--end counter box-->
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative mt-16">
                <div class="grid md:grid-cols-6 grid-cols-2 justify-center gap-[30px]">
                    <div class="mx-auto py-4">
                        <img src="assets/images/client/amazon.svg" class="h-6" alt="">
                    </div>

                    <div class="mx-auto py-4">
                        <img src="assets/images/client/google.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto py-4">
                        <img src="assets/images/client/lenovo.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto py-4">
                        <img src="assets/images/client/paypal.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto py-4">
                        <img src="assets/images/client/shopify.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto py-4">
                        <img src="assets/images/client/spotify.svg" class="h-6" alt="">
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Projects</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Create, collaborate, and turn your ideas into incredible products with the definitive platform for digital design.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/1.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">Serenity Apartments</a></h5>
                            <h6 class="text-slate-400">Branding</h6>
                        </div>
                    </div>
                
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/2.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">The Landscape House</a></h5>
                            <h6 class="text-slate-400">Mockup</h6>
                        </div>
                    </div>
                
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/3.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">New Build Family Home</a></h5>
                            <h6 class="text-slate-400">Abstract</h6>
                        </div>
                    </div>
                
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/4.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">Private and Social Apartments</a></h5>
                            <h6 class="text-slate-400">Books</h6>
                        </div>
                    </div>
                
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/5.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">Apartment Complex</a></h5>
                            <h6 class="text-slate-400">V-card</h6>
                        </div>
                    </div>
                
                    <div class="group relative block overflow-hidden rounded-md duration-500">
                        <a href="portfolio-detail-one.html"><img src="assets/images/construction/6.jpg" class="rounded-md shadow-sm dark:shadow-gray-800" alt=""></a>
                        <div class="content pt-3">
                            <h5 class="mb-1"><a href="portfolio-detail-one.html" class="hover:text-primary duration-500 font-semibold text-lg">Construction Engineering</a></h5>
                            <h6 class="text-slate-400">Photography</h6>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="py-20 w-full table relative bg-[url('../../assets/images/construction/bg2.jpg')] bg-center bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-slate-900/70"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 text-center">
                    <h3 class="mb-4 md:text-3xl text-2xl md:leading-normal leading-normal text-white font-medium">Generating more value <br> at every level and building a better world for everyone</h3>

                    <p class="text-white/80 max-w-xl mx-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                
                    <a href="#!" data-type="youtube" data-id="S_CGed6E610" class="lightbox size-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-primary mx-auto mt-10">
                        <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                    </a>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h6 class="text-primary text-base mb-2">Our Minds</h6>
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Management Team</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid md:grid-cols-12 grid-cols-1 mt-8 gap-[30px]">
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/04.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Jack John</a>
                                <p class="text-slate-400">Designer</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/05.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Krista John</a>
                                <p class="text-slate-400">Designer</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/06.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Roger Jackson</a>
                                <p class="text-slate-400">Designer</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/07.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Johnny English</a>
                                <p class="text-slate-400">Designer</p>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
            <!-- team -->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h6 class="text-primary text-base mb-2">Blog</h6>
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Blog Or News</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/01.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Design your apps in your own way</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/02.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">How apps is changing the IT world</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/03.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Smartest Applications for Business</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        @@include("partials/cookies.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tobii/js/tobii.min.js"></script>
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>