@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center-light.html")

        <!-- Start Hero -->
        <section class="relative flex items-center w-full py-36 lg:py-0 lg:h-screen" id="home">
            <div class="absolute inset-0 bg-yellow-400 -z-2"></div>
            <div class="absolute inset-0 bg-[url('../../assets/images/cleaner/bg.png')] bg-center bg-no-repeat bg-cover -z-1"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-slate-950 via-slate-950/60 to-transparent"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center mt-14">
                    <h5 class="text-lg text-white font-medium mb-3">Your Home is Your Heaven</h5>
                    <h3 class="font-bold lg:leading-normal leading-normal text-5xl lg:text-7xl mb-5 text-white">Clean Your Way to Happiness</h3>

                    <p class="text-slate-300 text-lg max-w-xl mx-auto">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS v4.x html page.</p>
                
                    <div class="mt-8">
                        <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-yellow-500 hover:bg-yellow-600 border-yellow-500 hover:border-yellow-600 text-white rounded-md">Get an Quote</a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative pb-10">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                    <div class="lg:col-span-5 md:col-span-6">
                        <div class="relative">
                            <div class="relative">
                                <img src="assets/images/cleaner/ab1.jpg" class="lg:w-[400px] w-[280px] rounded-md" alt="">
                                <div class="absolute top-0 translate-y-2/4 end-0 text-center">
                                    <a href="#!" data-type="youtube" data-id="S_CGed6E610" class="lightbox size-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-primary dark:text-white">
                                        <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="absolute -end-5 -bottom-16 rounded-md">
                                <img src="assets/images/cleaner/ab2.jpg" class="lg:w-[280px] w-[200px] border-8 border-white dark:border-slate-900 rounded-md" alt="">
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="lg:col-span-7 md:col-span-6 mt-8 md:mt-0">
                        <div class="lg:ms-6">
                            <h3 class="mb-4 md:text-4xl md:leading-normal text-3xl leading-normal font-semibold">We Make Places <br> Clean & Bright</h3>
                            <p class="text-slate-400 max-w-xl">You can combine all the Techwind templates into a single one, you can take a component from the Application theme and use it in the Website.</p>

                            <div class="grid lg:grid-cols-2 gap-6 mt-6">
                                <!-- Content -->
                                <div class="group flex duration-500 xl:p-3">
                                    <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white border-2 border-primary/20 text-primary rounded-lg text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                        <i data-feather="user-check" class="size-5"></i>
                                    </div>
                                    <div class="flex-1 ms-4">
                                        <h4 class="mb-0 text-lg font-medium">Customer Service</h4>
                                        <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin.</p>
                                    </div>
                                </div>
                                <!-- Content -->

                                <!-- Content -->
                                <div class="group flex duration-500 xl:p-3">
                                    <div class="flex align-middle justify-center items-center size-14 mt-1 bg-primary/5 group-hover:bg-primary group-hover:text-white border-2 border-primary/20 text-primary rounded-lg text-2xl shadow-xs dark:shadow-gray-800 duration-500">
                                        <i data-feather="thumbs-up" class="size-5"></i>
                                    </div>
                                    <div class="flex-1 ms-4">
                                        <h4 class="mb-0 text-lg font-medium">Quality Cleaning</h4>
                                        <p class="text-slate-400 mt-3">One disadvantage of Lorum Ipsum is that in Latin.</p>
                                    </div>
                                </div>
                                <!-- Content -->
                            </div>

                            <div class="relative mt-4">
                                <div class="relative p-6 border-2 border-primary rounded-[30px] before:content-[''] before:absolute before:w-28 before:border-[6px] before:border-white dark:before:border-slate-900 before:-bottom-1 before:start-16 before:z-2 after:content-[''] after:absolute after:border-2 after:border-primary after:rounded-none after:rounded-e-[50px] after:w-20 after:h-20 after:-bottom-[80px] after:start-[60px] after:z-3 after:border-s-0 after:border-b-0">
                                    <span class="font-semibold text-2xl leading-normal">
                                        Cleanliness is a state of purity, clarity, and precision.
                                    </span>
    
                                    <div class="absolute text-8xl -top-0 start-4 text-primary/10 dark:text-primary/20 -z-1">
                                        <i class="mdi mdi-format-quote-open"></i>
                                    </div>
                                </div>
    
                                <div class="text-lg font-semibold mt-6 ms-44">
                                     - Shreethemes
                                </div>
                            </div>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Cleaning Services</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 mt-4 gap-[30px]">
                    <!-- Content -->
                    <div class="group relative overflow-hidden px-6 py-10 shadow-sm hover:shadow-md dark:shadow-gray-800 dark:hover:shadow-gray-700 duration-500 rounded-2xl bg-white dark:bg-slate-900">
                        <i data-feather="codesandbox" class="size-12 stroke-1 text-primary"></i>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Latest Equipments</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>

                        <span class="absolute bottom-0 end-0 text-9xl font-bold opacity-[0.03] group-hover:opacity-10 duration-500">1</span>
                    </div>
                    <!-- Content -->

                    <!-- Content -->
                    <div class="group relative overflow-hidden px-6 py-10 shadow-sm hover:shadow-md dark:shadow-gray-800 dark:hover:shadow-gray-700 duration-500 rounded-2xl bg-white dark:bg-slate-900">
                        <i data-feather="dollar-sign" class="size-12 stroke-1 text-primary"></i>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Affordable Service</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>

                        <span class="absolute bottom-0 end-0 text-9xl font-bold opacity-[0.03] group-hover:opacity-10 duration-500">2</span>
                    </div>
                    <!-- Content -->

                    <!-- Content -->
                    <div class="group relative overflow-hidden px-6 py-10 shadow-sm hover:shadow-md dark:shadow-gray-800 dark:hover:shadow-gray-700 duration-500 rounded-2xl bg-white dark:bg-slate-900">
                        <i data-feather="users" class="size-12 stroke-1 text-primary"></i>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Expert Team</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>

                        <span class="absolute bottom-0 end-0 text-9xl font-bold opacity-[0.03] group-hover:opacity-10 duration-500">3</span>
                    </div>
                    <!-- Content -->

                    <!-- Content -->
                    <div class="group relative overflow-hidden px-6 py-10 shadow-sm hover:shadow-md dark:shadow-gray-800 dark:hover:shadow-gray-700 duration-500 rounded-2xl bg-white dark:bg-slate-900">
                        <i data-feather="thumbs-up" class="size-12 stroke-1 text-primary"></i>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Quality Work</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>

                        <span class="absolute bottom-0 end-0 text-9xl font-bold opacity-[0.03] group-hover:opacity-10 duration-500">4</span>
                    </div>
                    <!-- Content -->
                </div><!--end grid-->
            </div><!--end container-->
            
            <div class="container relative mt-6">
                <div class="grid md:grid-cols-6 grid-cols-2 justify-center gap-[30px]">
                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/amazon.svg" class="h-6" alt="">
                    </div>

                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/google.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/lenovo.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/paypal.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/shopify.svg" class="h-6" alt="">
                    </div>
                    
                    <div class="mx-auto pt-8">
                        <img src="assets/images/client/spotify.svg" class="h-6" alt="">
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section>
        <!-- End -->

        <!-- Start -->
        <section class="py-20 w-full table relative bg-[url('../../assets/images/cleaner/bg.jpg')] bg-fixed bg-center bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-slate-900/75"></div>
            <div class="container relative">
                <div class="relative grid md:grid-cols-3 grid-cols-1 items-center mt-8 gap-[30px] z-1">
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-white"><span class="counter-value" data-target="1548">1010</span>+</h1>
                        <h5 class="counter-head text-lg font-medium text-white/50">Satisfied Client</h5>
                    </div><!--end counter box-->
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-white"><span class="counter-value" data-target="25">2</span>+</h1>
                        <h5 class="counter-head text-lg font-medium text-white/50">Expert Team</h5>
                    </div><!--end counter box-->
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-white"><span class="counter-value" data-target="9">0</span>+</h1>
                        <h5 class="counter-head text-lg font-medium text-white/50">Years Experience</h5>
                    </div><!--end counter box-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Featured Services</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/1.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">House Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bathroom Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/2.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">Office Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bathroom Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/3.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">Kitchen Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bathroom Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/4.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">Window Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bathroom Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/5.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">Carpet Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bathroom Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group relative">
                        <div class="relative overflow-hidden rounded-md shadow-sm dark:shadow-gray-800">
                            <img src="assets/images/cleaner/6.jpg" class="group-hover:scale-110 duration-500" alt="">
                        </div>

                        <div class="relative -mt-6 px-6">
                            <div class="rounded-md shadow-sm dark:shadow-gray-800 bg-white dark:bg-slate-900 p-6">
                                <a href="" class="title h5 text-lg font-semibold hover:text-primary duration-500 ease-in-out">Car Cleaning</a>

                                <ul class="list-none mt-4">
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Vacuming</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Seats Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Window Cleaning</li>
                                    <li class="flex text-slate-400"><i class="mdi mdi-check text-primary align-middle me-2"></i> Bedrooms Cleaning</li>
                                </ul>

                                <div class="mt-4">
                                    <a href="" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <!-- Team -->
            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Expert Team</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid md:grid-cols-12 grid-cols-1 mt-8 gap-[30px]">
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/04.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Jack John</a>
                                <p class="text-slate-400">Cleaner</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/05.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Krista John</a>
                                <p class="text-slate-400">Cleaner</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/06.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Roger Jackson</a>
                                <p class="text-slate-400">Cleaner</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lg:col-span-3 md:col-span-6">
                        <div class="group text-center">
                            <div class="relative inline-block mx-auto size-52 rounded-full overflow-hidden">
                                <img src="assets/images/client/07.jpg" class="" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900 size-52 rounded-full opacity-0 group-hover:opacity-100 duration-500"></div>

                                <ul class="list-none absolute start-0 end-0 -bottom-20 group-hover:bottom-5 duration-500">
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="facebook" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="instagram" class="size-4"></i></a></li>
                                    <li class="inline"><a href="" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-primary bg-primary hover:border-primary hover:bg-primary text-white"><i data-feather="linkedin" class="size-4"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="" class="text-lg font-semibold hover:text-primary duration-500">Johnny English</a>
                                <p class="text-slate-400">Cleaner</p>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
            <!-- team -->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Blog Or News</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cleaner/1.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Design your apps in your own way</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cleaner/2.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">How apps is changing the IT world</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/cleaner/3.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Smartest Applications for Business</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Business Partner -->

        @@include("partials/footer/footer.html")

        @@include("partials/cookies.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/js/easy_background.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <script>
            easy_background("#home",
                {
                    slide: ["assets/images/cleaner/bg1.png", "assets/images/cleaner/bg2.png", "assets/images/cleaner/bg3.png"],
                    delay: [4000, 4000, 4000]
                }
            );
        </script>
        <!-- JAVASCRIPTS -->
    </body>
</html>