@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
    
        <!-- Start -->
        <section class="relative overflow-hidden md:h-screen py-36 flex justify-center items-center bg-[url('../../assets/images/christmas/bg-hero.jpg')] bg-center bg-no-repeat bg-cover" id="home">
            <div class="absolute inset-0" id="particles-snow"></div>
            <div class="absolute inset-0 bg-gradient-to-t to-transparent from-slate-900"></div>

            <a href="index.html" class="absolute top-10 end-0 start-0 text-center justify-center mx-auto"><img src="assets/images/logo-light.png" class="mx-auto block" alt=""></a>
            <div class="container relative z-1">
                <div class="grid grid-cols-1 justify-center text-center">
                    <h4 class="font-bold lg:leading-normal leading-normal text-white uppercase text-5xl lg:text-7xl">Christmas Offers</h4>

                    <div id="countdown">
                        <ul class="count-down list-none inline-block text-white text-center mt-8">
                            <li id="days" class="text-[48px] font-bold leading-[110px] size-[130px] rounded-md shadow-md bg-slate-950/40 backdrop-opacity-30 inline-block m-2"></li>
                            <li id="hours" class="text-[48px] font-bold leading-[110px] size-[130px] rounded-md shadow-md bg-slate-950/40 backdrop-opacity-30 inline-block m-2"></li>
                            <li id="mins" class="text-[48px] font-bold leading-[110px] size-[130px] rounded-md shadow-md bg-slate-950/40 backdrop-opacity-30 inline-block m-2"></li>
                            <li id="secs" class="text-[48px] font-bold leading-[110px] size-[130px] rounded-md shadow-md bg-slate-950/40 backdrop-opacity-30 inline-block m-2"></li>
                            <li id="end" class="h1"></li>
                        </ul>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->

        <div class="relative">
            <div class="absolute block w-full h-auto bottom-[25px] z-1 start-0">
                <a href="#about"><i class="mdi mdi-arrow-down absolute top-0 start-0 end-0 text-center inline-flex items-center justify-center rounded-full bg-white dark:bg-slate-900 size-12 mx-auto shadow-md dark:shadow-gray-800"></i></a>
            </div>

            <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden text-white dark:text-slate-900">
                <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End -->

        <!-- Start -->
        <section class="relative lg:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Features</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-4 gap-[30px]">
                    <!-- Content -->
                    <div class="group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-28 fill-primary/5 mx-auto rotate-[30deg]"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded-xl duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-rocket"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium hover:text-primary duration-500 ease-in-out">Free Shipping</a>
                            <p class="text-slate-400 duration-500 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making.</p>
                        </div>
                    </div>
                    <!-- Content -->

                    <!-- Content -->
                    <div class="group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-28 fill-primary/5 mx-auto rotate-[30deg]"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded-xl duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-user-arrows"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium hover:text-primary duration-500 ease-in-out">24/7 Support</a>
                            <p class="text-slate-400 duration-500 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making.</p>
                        </div>
                    </div>
                    <!-- Content -->

                    <!-- Content -->
                    <div class="group relative lg:px-6 mt-4 duration-500 rounded-xl overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-28 fill-primary/5 mx-auto rotate-[30deg]"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded-xl duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-transaction"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium hover:text-primary duration-500 ease-in-out">Payment Process</a>
                            <p class="text-slate-400 duration-500 mt-3">If the distribution of letters and 'words' is random, the reader will not be distracted from making.</p>
                        </div>
                    </div>
                    <!-- Content -->
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->

        <!-- Start -->
        <section class="relative pt-36 pb-10 bg-[url('../../assets/images/christmas/bg2.jpg')] bg-cover jarallax" data-jarallax data-speed="0.5">
            <div class="absolute inset-0 h-full w-full bg-gradient-to-t to-transparent from-slate-900"></div>

            <div class="container relative">
                <div class="grid grid-cols-1 text-center">
                    <h3 class="md:text-3xl md:leading-normal text-2xl leading-normal font-semibold text-white">Today's Offer Products</h3>
                </div>
            </div>
        </section><!--end section-->

        <section class="relative lg:py-24 py-16">
            <div class="container relative">
                <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-[30px]">
                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s1.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>

                            <ul class="list-none absolute top-[10px] start-4">
                                <li><a href="javascript:void(0)" class="bg-orange-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">New</a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Branded T-Shirt</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s2.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>

                            <ul class="list-none absolute top-[10px] start-4">
                                <li><a href="javascript:void(0)" class="bg-green-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">Featured</a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Shopping Bag</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->
                    
                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s3.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Elegent Watch</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s4.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Casual Shoes</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s5.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>

                            <ul class="list-none absolute top-[10px] start-4">
                                <li><a href="javascript:void(0)" class="bg-orange-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">New</a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Earphones</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s6.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Elegent Mug</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s7.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Sony Headphones</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group">
                        <div class="relative overflow-hidden shadow-sm dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                            <img src="assets/images/shop/items/s8.jpg" alt="">
    
                            <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                                <a href="shop-cart.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-slate-900 border-slate-900 text-white w-full rounded-md">Add to Cart</a>
                            </div>
    
                            <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500">
                                <li><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-heart"></i></a></li>
                                <li class="mt-1"><a href="shop-item-detail.html" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-eye-outline"></i></a></li>
                                <li class="mt-1"><a href="javascript:void(0)" class="size-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white"><i class="mdi mdi-bookmark-outline"></i></a></li>
                            </ul>

                            <ul class="list-none absolute top-[10px] start-4">
                                <li><a href="javascript:void(0)" class="bg-blue-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">Sale</a></li>
                            </ul>
                        </div>

                        <div class="mt-4">
                            <a href="shop-item-detail.html" class="hover:text-primary text-lg font-semibold">Wooden Stools</a>
                            <div class="flex justify-between items-center mt-1">
                                <p class="text-green-600">$16.00 <del class="text-red-600">$21.00</del></p>
                                <ul class="font-medium text-amber-400 list-none">
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                    <li class="inline"><i class="mdi mdi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative mt-16">
                <div class="grid grid-cols-1 items-center">
                    <h3 class="text-2xl leading-normal font-semibold">Top Categories</h3>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 mt-8 gap-[30px]">
                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/electronics.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Electronics</a>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/fashion.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Fashion</a>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/furniture.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Furniture</a>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/mobile.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Mobile</a>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/music.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Music</a>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden hover:shadow-lg hover:dark:shadow-gray-800 rounded-md duration-500 p-6 text-center">
                        <img src="assets/images/shop/categories/sports.jpg" class="rounded-full shadow-md dark:shadow-gray-800 size-20 block mx-auto mb-2" alt="">

                        <a href="" class="font-semibold hover:text-primary text-lg">Sports</a>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative mt-16">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center">
                    <div class="lg:col-span-5 md:col-span-6">
                        <img src="assets/images/illustrator/envelope.svg" class="mx-auto d-block" alt="">
                    </div>

                    <div class="lg:col-span-7 md:col-span-6">
                        <span class="bg-primary/5 text-primary text-xs font-bold px-2.5 py-0.5 rounded h-5">Mobile Apps</span>
                        <h4 class="md:text-3xl text-2xl lg:leading-normal leading-normal font-medium my-4">Available for your <br> Smartphones</h4>
                        <p class="text-slate-400 max-w-xl mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        <div class="my-5">
                            <a href=""><img src="assets/images/app/app.png" class="m-1 inline-block" alt=""></a>

                            <a href=""><img src="assets/images/app/playstore.png" class="m-1 inline-block" alt=""></a>
                        </div>

                        <div class="inline-block">
                            <div class="pt-4 flex items-center border-t border-gray-100 dark:border-gray-800">
                                <i data-feather="smartphone" class="me-2 text-primary size-10"></i>
                                <div class="content">
                                    <h6 class="text-base font-medium">Install app now on your cellphones</h6>
                                    <a href="" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Learn More <i class="uil uil-angle-right-b"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end gird-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer-shop.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/jarallax/jarallax.min.js"></script>
        <script src="assets/libs/particles.js/particles.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>