@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-right-light.html")

        <!-- Start -->
        <section class="relative flex md:h-screen md:py-0 py-36 items-center  bg-[url('../../assets/images/coach/bg.jpg')] lg:bg-left-top bg-center bg-no-repeat bg-cover">
            <div class="container relative z-3">
                <div class="grid grid-cols-1 mt-10">
                    <div class="md:text-start text-center">
                        <span class="bg-primary inline-block text-white text-sm font-semibold px-2.5 rounded mb-4">Life Coach</span>
                        <h1 class="font-bold text-white lg:leading-normal leading-normal text-4xl lg:text-5xl mb-6">Unleash Your Real <br> Potential and Live <br> Limitless!</h1>
                        <p class="text-white/70 text-lg max-w-xl">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS v4.x html page.</p>
                        
                        <div class="mt-8">
                            <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">Contact us <i class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start Section-->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Services For My Clients</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid md:grid-cols-3 grid-cols-1 mt-8 gap-[24px]">
                    <div class="group relative overflow-hidden p-6 rounded-lg shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
                        <img src="assets/images/coach/conversation.png" class="size-16 mx-auto" alt="">

                        <div class="content mt-7">
                            <h2 class="title text-xl font-semibold">One to One Coaching</h2>
                            <p class="text-slate-400 mt-3">After you decide to start training we will make sure you get the best fitness program. Our sport experts and latest sports equipment are the winning combination.</p>
                        </div>

                        <div class="opacity-0 group-hover:opacity-100 duration-500">
                            <div class="absolute inset-0">
                                <img src="assets/images/coach/one-one.jpg" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900"></div>
                            </div>

                            <div class="absolute bottom-0 start-0 end-0 mb-6">
                                <a href="" class="text-white text-xl font-bold">One to One Coaching</a>
                            </div>
                        </div>
                    </div>
                    <!--end feature content-->

                    <div class="group relative overflow-hidden p-6 rounded-lg shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
                        <img src="assets/images/coach/programmer.png" class="size-16 mx-auto" alt="">

                        <div class="content mt-7">
                            <h2 class="title text-xl font-semibold">Executive Coaching</h2>
                            <p class="text-slate-400 mt-3">After you decide to start training we will make sure you get the best fitness program. Our sport experts and latest sports equipment are the winning combination.</p>
                        </div>

                        <div class="opacity-0 group-hover:opacity-100 duration-500">
                            <div class="absolute inset-0">
                                <img src="assets/images/coach/executive.jpg" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900"></div>
                            </div>

                            <div class="absolute bottom-0 start-0 end-0 mb-6">
                                <a href="" class="text-white text-xl font-bold">Executive Coaching</a>
                            </div>
                        </div>
                    </div>
                    <!--end feature content-->

                    <div class="group relative overflow-hidden p-6 rounded-lg shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
                        <img src="assets/images/coach/group.png" class="size-16 mx-auto" alt="">

                        <div class="content mt-7">
                            <h2 class="title text-xl font-semibold">Group Coaching</h2>
                            <p class="text-slate-400 mt-3">After you decide to start training we will make sure you get the best fitness program. Our sport experts and latest sports equipment are the winning combination.</p>
                        </div>

                        <div class="opacity-0 group-hover:opacity-100 duration-500">
                            <div class="absolute inset-0">
                                <img src="assets/images/coach/group.jpg" alt="">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-slate-900"></div>
                            </div>

                            <div class="absolute bottom-0 start-0 end-0 mb-6">
                                <a href="" class="text-white text-xl font-bold">Group Coaching</a>
                            </div>
                        </div>
                    </div>
                    <!--end feature content-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Section -->

        <!-- Start -->
        <section class="py-20 w-full table relative bg-[url('../../assets/images/team.jpg')] bg-top bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-slate-900/70"></div>
            <div class="container relative">
                <div class="relative grid md:grid-cols-4 grid-cols-1 items-center gap-[30px]">
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-medium mb-2 text-white"><span class="counter-value" data-target="1548">1010</span>+</h1>
                        <h5 class="counter-head text-white/70 font-semibold">Happy Clients</h5>
                    </div><!--end counter box-->
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-medium mb-2 text-white"><span class="counter-value" data-target="100">0</span>%</h1>
                        <h5 class="counter-head text-white/70 font-semibold">24/7 Support</h5>
                    </div><!--end counter box-->
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-medium mb-2 text-white"><span class="counter-value" data-target="9">0</span>+</h1>
                        <h5 class="counter-head text-white/70 font-semibold">Courses</h5>
                    </div><!--end counter box-->
                    
                    <div class="counter-box text-center">
                        <h1 class="lg:text-5xl text-4xl font-medium mb-2 text-white"><span class="counter-value" data-target="100">0</span>%</h1>
                        <h5 class="counter-head text-white/70 font-semibold">Satisfaction</h5>
                    </div><!--end counter box-->
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start Section-->
        <section class="relative md:py-24 py-16" id="about">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                    <div class="lg:col-span-5 md:col-span-6">
                        <div class="relative">
                            <img src="assets/images/coach/about.jpg" class="rounded-full" alt="">
                            <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                                <a href="#!" data-type="youtube" data-id="S_CGed6E610"
                                    class="lightbox size-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-primary dark:text-white">
                                    <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                                </a>
                            </div>

                            <div class="absolute top-0 start-0 -z-1">
                                <img src="assets/images/illustrator/dots.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-7 md:col-span-6">
                        <div class="lg:ms-5">
                            <h6 class="text-primary text-sm font-bold uppercase mb-2">About Me</h6>
                            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Unleash Your Real <br> Potential and <br> Live Limitless!</h3>

                            <p class="text-slate-400 max-w-xl">I am glad that you have made it here to send a distress signal, and inform the Senate that all on board were killed. Dantooine.  I’m not going to Alderaan. I really got to go.</p>
                            <p class="text-slate-400 max-w-xl mt-2">But that to me. Send a distress signal, and inform the Senate that all on board were killed. Dantooine. They’re on Dantooine. The plans you refer to will soon be back in our hands. Alderaan? I’m not going to Alderaan. I got to go home.</p>
                            <img src="assets/images/sign.png" class="mt-3" alt="">                            
                        </div>
                    </div>
                </div>
                <!--grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">What Our Users Say</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 mt-8">
                    <div class="tiny-three-item">
                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/01.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Calvin Carlo</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/02.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/03.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Jemina CLone</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/04.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Smith Vodka</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" There is now an abundance of readable dummy texts. These are usually used when a text is required. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/05.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Cristino Murfi</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide text-center">
                            <div class="cursor-e-resize">
                                <div class="content relative rounded shadow-sm dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                                    <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
                                    <p class="text-slate-400">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero. "</p>
                                    <ul class="list-none mb-0 text-amber-400 mt-3">
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                        <li class="inline"><i class="mdi mdi-star"></i></li>
                                    </ul>
                                </div>
                                
                                <div class="text-center mt-5">
                                    <img src="assets/images/client/06.jpg" class="size-14 rounded-full shadow-md mx-auto" alt="">
                                    <h6 class="mt-2 font-semibold">Cristino Murfi</h6>
                                    <span class="text-slate-400 text-sm">Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Popular Courses</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c1.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/01.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">Calvin Carlo</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Digital Marketing</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">Starting SEO as your Home Based Business</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                    
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c2.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/02.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">Christa Smith</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Engineering</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">Java Programming Masterclass for Software</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                    
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c3.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/03.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">Jani Jangad</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Engineering</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">Microsoft Excel - Excel from Beginner to Advanced</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                    
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c4.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/04.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">John Cartwright</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Web Development</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">Vue - The Complete Guide (w/ Router, Composition API)</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                    
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c5.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/05.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">Sally Short</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Front-end Design</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">HTML, CSS, Javascripts, and Basic Knowledge about web design</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                    
                    <!-- Start Course -->
                    <div class="group relative rounded-md shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500 ease-in-out overflow-hidden">
                        <div class="relative overflow-hidden">
                            <img src="assets/images/course/c6.jpg" class="group-hover:scale-110 duration-500 ease-in-out" alt="">
                            <div class="absolute inset-0 bg-slate-900/50 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"></div>

                            <div class="absolute start-0 bottom-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="pb-4 ps-4 flex items-center">
                                    <img src="assets/images/client/06.jpg" class="size-12 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                    <div class="ms-3">
                                        <a href="" class="font-semibold text-white block">William Benson</a>
                                        <span class="text-white/70 text-sm">Professor</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content p-6 relative">
                            <a href="course-detail.html" class="font-medium block text-primary">Back-end Development</a>
                            <a href="course-detail.html" class="text-lg font-medium block hover:text-primary duration-500 ease-in-out mt-2">C Programming For Beginners - Master the C Language</a>
                            <p class="text-slate-400 mt-3 mb-4">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <ul class="pt-4 border-t border-gray-100 dark:border-gray-800 flex items-center list-none text-slate-400">
                                <li class="flex items-center me-4">
                                    <i class="uil uil-book-open text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>25 Lectures</span>
                                </li>

                                <li class="flex items-center me-4">
                                    <i class="uil uil-clock text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>1h 30m</span>
                                </li>

                                <li class="flex items-center">
                                    <i class="uil uil-eye text-lg leading-none me-2 text-slate-900 dark:text-white"></i>
                                    <span>3012</span>
                                </li>
                            </ul>

                            <div class="absolute -top-7 end-6 z-1 opacity-0 group-hover:opacity-100 duration-500 ease-in-out">
                                <div class="flex justify-center items-center size-14 bg-white dark:bg-slate-900 rounded-full shadow-lg dark:shadow-gray-800 text-primary dark:text-white">
                                    <span class="font-semibold">$11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course -->
                </div><!--end grid-->

                <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
                    <div class="md:col-span-12 text-center">
                        <a href="course-listing.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-primary after:bg-primary duration-500 ease-in-out">See All Courses <i class="uil uil-arrow-right align-middle"></i></a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start -->
        <section class="py-20 w-full table relative bg-[url('../../assets/images/coach/cta.jpg')] bg-top bg-no-repeat bg-cover">
            <div class="absolute inset-0 bg-slate-900/70"></div>
            <div class="container relative">
                <div class="grid grid-cols-1 text-center">
                    <h3 class="mb-4 md:text-3xl text-2xl text-white font-medium">Self Development Course</h3>

                    <p class="text-white/80 max-w-xl mx-auto">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                
                    <div class="mt-8">
                        <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md">JOIN FOR FREE</a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start Section-->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center">
                    <div class="md:col-span-6">
                        <h6 class="text-primary text-sm font-bold uppercase mb-2">Blogs</h6>
                        <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Reads Our Latest <br> News & Blog</h3>
                    </div>

                    <div class="md:col-span-6">
                        <p class="text-slate-400 max-w-xl">Start working with Techwind that can provide everything you need to generate awareness, drive traffic, connect.</p>
                    </div>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-8 gap-[30px]">
                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/01.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Design your apps in your own way</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/02.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">How apps is changing the IT world</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="blog relative rounded-md shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/blog/03.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Smartest Applications for Business</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        @@include("partials/cookies.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tobii/js/tobii.min.js"></script>
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>