@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center.html")

        <!-- Start Hero -->
        <section class="relative table w-full py-36 lg:py-44 bg-gray-50 dark:bg-slate-800">
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
                    <div class="md:col-span-7 md:order-2 order-1">
                        <div class="ms-6">
                            <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 text-slate-900 dark:text-white">Stand Out With a Custom <span class="text-primary">Phone Number</span></h4>
                            <p class="text-slate-400 text-lg max-w-xl">Techwind is the largest provider of custom phone numbers since 2020</p>

                            <div class="subcribe-form mt-6">
                                <form class="relative max-w-xl">
                                    <input type="text" id="SearchForumKeyword" name="text" class="pt-4 ltr:pr-14 rtl:pl-14 pb-4 ltr:pl-6 rtl:pr-6 w-full h-[50px] outline-none text-slate-900 dark:text-white rounded-full bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-800" placeholder="Search Number :">
                                    <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center absolute top-[2px] ltr:right-[3px] rtl:left-[3px] h-[46px] bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full"><i class="uil uil-search"></i> Find Number</button>
                                </form><!--end form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="md:col-span-5 md:order-1 order-2">
                        <img src="assets/images/illustrator/development.svg" alt="">
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->
            
            <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
                <ul class="tracking-[0.5px] mb-0 inline-block">
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-primary"><a href="index.html">Techwind</a></li>
                    <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                    <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-primary" aria-current="page">Phone Number</li>
                </ul>
            </div>
        </section><!--end section-->
        <div class="relative">
            <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white dark:text-slate-900">
                <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Why People Choose Techwind for Custom Numbers</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect</p>
                </div><!--end grid-->

                <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 mt-6 gap-[30px]">
                    <div class="p-6 hover:shadow-xl hover:shadow-gray-100 dark:hover:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-airplay"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">No New Equipment to Buy</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="p-6 shadow-xl shadow-gray-100 dark:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-shutter"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Easy Setup Process</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="p-6 hover:shadow-xl hover:shadow-gray-100 dark:hover:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-camera-plus"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Simple Affordable Plans</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="p-6 shadow-xl shadow-gray-100 dark:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-flower"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Customer Self-Service Portal</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="p-6 hover:shadow-xl hover:shadow-gray-100 dark:hover:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-cog"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">5-Star Reviews on Google</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="p-6 shadow-xl shadow-gray-100 dark:shadow-gray-800 duration-500 rounded-2xl mt-6">
                        <div class="size-20 bg-primary/5 text-primary rounded-xl text-3xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800">
                            <i class="uil uil-comment"></i>
                        </div>

                        <div class="content mt-7">
                            <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">24/7 Support</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-5">
                                <a href="page-services.html" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Select Phone Numbers</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-0000</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-1234</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-4567</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-2345</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-3456</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-5678</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-6789</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-7891</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-8912</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-9123</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-4321</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-9876</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-8765</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-6543</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-5432</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-1597</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-3578</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-7954</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-1346</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-1379</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-4679</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-1245</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-4578</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->

                    <div class="group p-4 text-center rounded-lg shadow-sm hover:shadow-lg dark:shadow-gray-800 duration-500">
                        <a href="" class="hover:text-primary text-xl font-semibold">+201-102-2356</a>

                        <div class="mt-3 flex items-center justify-center">
                            <span class="text-primary text-lg">$99</span>
                            <a href="" class="py-1.5 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full ms-3">Buy Now</a>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
                
                <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
                    <div class="md:col-span-12 text-center">
                        <a href="" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-primary after:bg-primary duration-500 ease-in-out">See More Numbers <i class="uil uil-arrow-right align-middle"></i></a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="md:flex justify-center">
                    <div class="lg:w-2/3 text-center">
                        <h3 class="md:text-3xl text-2xl md:leading-normal leading-normal font-semibold mb-6">Get the Latest Updates and Offers</h3>

                        <p class="text-slate-400 max-w-xl mx-auto">Add some text to explain benefits of subscripton on your services. We'll send you the best of our blog just once a weekly.</p>

                        <div class="mt-8">
                            <div class="text-center subcribe-form">
                                <form class="relative mx-auto max-w-xl">
                                    <input type="email" id="subemail" name="name" class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-slate-900 dark:text-white rounded-full bg-white/70 dark:bg-slate-900/70 border border-gray-100 dark:border-gray-800" placeholder="Enter your email id..">
                                    <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-primary hover:bg-primary-700 border border-primary hover:border-primary-700 text-white rounded-full">Subcribe Now</button>
                                </form><!--end form-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/libs/tobii/js/tobii.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>