@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-center.html")

        <!-- Start Hero -->
        <section class="relative overflow-hidden table w-full py-36 lg:py-44">
            <div class="image-wrap absolute -top-[350px] -bottom-[350px] -start-[100px] -end-[100px] min-w-full w-auto min-h-full h-auto overflow-hidden m-auto bg-[url('../../assets/images/solar/bg/2.jpg')] bg-no-repeat bg-center bg-cover"></div>
            <div class="absolute inset-0 bg-white/80 dark:bg-slate-900/80"></div>
            <div class="container relative">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
                    <div class="md:col-span-7">
                        <div class="me-6">
                            <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-6xl mb-5 text-slate-900 dark:text-white">Sustainable Energy Empowering The Customer</h4>
                            <p class="text-slate-400 text-lg max-w-xl">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS v4.x html page.</p>
                        
                            <div class="mt-6">
                                <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded me-2 mt-2">Get a Free Quote <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="md:col-span-5">
                        <div class="relative">
                            <div class="relative md:shrink-0">
                                <img class="object-cover md:w-[400px] w-84 lg:h-[550px] md:h-[400px] h-[550px] rounded-full shadow-md dark:shadow-gyay-700 ms-auto" src="assets/images/solar/4.jpg" alt="">
                            </div>
    
                            <div class="absolute bottom-16 md:-start-10 md-start-5 start-1 flex items-center p-2 rounded shadow-md dark:shadow-gray-800 bg-white/90 dark:bg-slate-900/90 max-w-80">
                                <div class="min-w-28 w-28 relative">
                                    <div class="grid grid-cols-1">
                                        <div class="tiny-one-item">
                                            <div class="tiny-slide">
                                                <div class="m-2">
                                                    <img src="assets/images/solar/1.jpg" class="rounded" alt="">
                                                </div>
                                            </div>
        
                                            <div class="tiny-slide">
                                                <div class="m-2">
                                                    <img src="assets/images/solar/2.jpg" class="rounded" alt="">
                                                </div>
                                            </div>
        
                                            <div class="tiny-slide">
                                                <div class="m-2">
                                                    <img src="assets/images/solar/4.jpg" class="rounded" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="ms-3">
                                    <h5 class="text-lg font-semibold">View Our Success Stories With Renewable Energy</h5>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative md:pb-24 pb-16">
            <div class="container relative">
                <div class="md:flex justify-center">
                    <div class="lg:w-3/4 md:w-full relative -mt-16">
                        <div class="p-6 relative z-3 bg-white dark:bg-slate-900 rounded shadow-sm shadow-slate-200 dark:shadow-slate-800">
                            <div class="md:flex justify-center">
                                <div class="md:w-1/3">
                                    <div class="text-center">
                                        <h6 class="text-slate-400 mb-0">Worldwide Customer</h6>
                                        <h2 class="mb-0 text-4xl mt-3 font-bold"><span class="counter-value" data-target="24">1</span>K+</h2>
                                    </div>
                                </div>

                                <div class="md:w-1/3 mt-8 md:mt-0">
                                    <div class="text-center">
                                        <h6 class="text-slate-400 mb-0">Solar Panels</h6>
                                        <h2 class="mb-0 text-4xl mt-3 font-bold"><span class="counter-value" data-target="2840">2012</span>+</h2>
                                    </div>
                                </div>

                                <div class="md:w-1/3 mt-8 md:mt-0">
                                    <div class="text-center">
                                        <h6 class="text-slate-400 mb-0">Customer Satisfaction</h6>
                                        <h2 class="mb-0 text-4xl mt-3 font-bold"><span class="counter-value" data-target="99">1</span>%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
                    <div class="md:col-span-5">
                        <div class="relative">
                            <div class="relative md:shrink-0 lg:me-0 me-10">
                                <img class="object-cover md:w-96 w-84 h-[500px] rounded shadow-md dark:shadow-gyay-700" src="assets/images/solar/2.jpg" alt="">
                            </div>

                            <div class="absolute bottom-16 end-0">
                                <div class="relative md:shrink-0">
                                    <img class="object-cover size-48 rounded shadow-md dark:shadow-gyay-700" src="assets/images/solar/3.jpg" alt="">
                                </div>
                                <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                                    <a href="#!" data-type="youtube" data-id="S_CGed6E610" class="lightbox size-14 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-primary dark:text-white">
                                        <i class="mdi mdi-play inline-flex items-center justify-center text-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="md:col-span-7">
                        <div class="lg:ms-4">
                            <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Solar Energy Squad: <br> Illuminating a Sustainable Future</h4>
                            <p class="text-slate-400 max-w-xl">At Esoler Solar Energy, we are dedicated to providing sustainable and renewable energy solutions to empower individuals, businesses, and communities. With a passion for harnessing the power of the sun, we strive to make a positive impact on the environment while helping our clients reduce their carbon footprint and energy costs.</p>
                            <p class="text-slate-400 max-w-xl mt-3">It seems that only fragments of the original text remain in the Lorem Ipsum texts used today one can now find slightly different versions.</p>
                            <div class="mt-6">
                                <a href="" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded">Read More <i class="uil uil-angle-right-b align-middle"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">What we do ?</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-chart-line"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">Installation</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->

                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-crosshairs"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">Maintenance</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->

                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-airplay"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">System Design</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->

                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-rocket"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">Energy Consulting</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->
                    
                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-clock"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">Financing</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->

                    <div class="group relative p-6 shadow-sm dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 hover:bg-primary dark:hover:bg-primary duration-500 rounded bg-white dark:bg-slate-900 overflow-hidden text-center">
                        <div class="relative overflow-hidden text-transparent -m-3">
                            <i data-feather="hexagon" class="size-24 fill-primary/5 group-hover:fill-white/10 mx-auto"></i>
                            <div class="absolute top-2/4 -translate-y-2/4 start-0 end-0 mx-auto text-primary rounded group-hover:text-white duration-500 text-3xl flex align-middle justify-center items-center">
                                <i class="uil uil-users-alt"></i>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="" class="text-xl font-medium group-hover:text-white duration-500">Feasibility Analysis</a>
                            <p class="text-slate-400 group-hover:text-white/50 duration-500 mt-3">The phrasal sequence of the is now so that many campaign and benefit.</p>

                            <div class="mt-3">
                                <a href="" class="font-medium group-hover:text-white/80 group-hover:hover:text-white duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end feature-->
                </div>
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16 pt-16">
                <div class="absolute inset-0 opacity-25 dark:opacity-50 bg-[url('../../assets/images/map.png')] bg-no-repeat bg-center bg-cover"></div>
                <div class="relative grid grid-cols-1 pb-8 text-center">
                    <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold text-slate-900 dark:text-white">What Our Client Say ?</h3>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="flex justify-center relative mt-6">
                    <div class="relative md:w-1/2 w-full">
                        <div class="absolute -top-20 md:-start-24 -start-0">
                            <i class="mdi mdi-format-quote-open text-9xl opacity-5"></i>
                        </div>

                        <div class="absolute bottom-28 md:-end-24 -end-0">
                            <i class="mdi mdi-format-quote-close text-9xl opacity-5"></i>
                        </div>

                        <div class="tiny-single-item">
                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " Techwind made the processes so easy. Techwind instantly increased the amount of interest and ultimately saved us over $10,000. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/01.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " I highly recommend Techwind as the new way to sell your home "by owner". My home sold in 24 hours for the asking price. Best $400 you could spend to sell your home. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/02.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " My favorite part about selling my home myself was that we got to meet and get to know the people personally. This made it so much more enjoyable! " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/03.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " Great experience all around! Easy to use and efficient. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/04.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " Techwind made selling my home easy and stress free. They went above and beyond what is expected. " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/05.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>

                            <div class="tiny-slide">
                                <div class="text-center">
                                    <p class="text-lg text-slate-400 italic"> " Techwind is fair priced, quick to respond, and easy to use. I highly recommend their services! " </p>

                                    <div class="text-center mt-5">
                                        <ul class="text-xl font-medium text-amber-400 list-none mb-2">
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                            <li class="inline"><i class="mdi mdi-star"></i></li>
                                        </ul>

                                        <img src="assets/images/client/06.jpg" class="size-14 rounded-full shadow-md dark:shadow-gray-800 mx-auto" alt="">
                                        <h6 class="mt-2 font-semibold">Christa Smith</h6>
                                        <span class="text-slate-400 text-sm">Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid grid-cols-1 pb-6 text-center">
                    <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Solar & Renewable Projects</h4>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/4.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Solar Revolution</a>
                                
                                <p class="text-slate-400">Solar Transformation</p>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/5.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Sunwave Energy</a>
                                
                                <p class="text-slate-400">Solar Solutions</p>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/6.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Solar Sync</a>
                                
                                <p class="text-slate-400">indigo Energy</p>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/7.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Solstice Systems</a>
                                
                                <p class="text-slate-400">Eco Future</p>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/8.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Solar Spark</a>
                                
                                <p class="text-slate-400">Clean Energy</p>
                            </div>
                        </div>
                    </div><!--end content-->

                    <div class="group relative overflow-hidden rounded shadow-sm shadow-slate-100 dark:shadow-slate-800">
                        <div class="relative md:shrink-0">
                            <img class="object-cover md:w-96 w-full h-96 group-hover:scale-105 duration-500" src="assets/images/solar/project/9.jpg" alt="">
                        </div>

                        <div class="p-6 absolute bottom-0 -start-72 group-hover:start-0 duration-500">
                            <div class="bg-white dark:bg-slate-900 py-3 px-4 w-fit rounded">
                                <a href="" class="hover:text-primary text-lg font-semibold">Sun Power</a>
                                
                                <p class="text-slate-400">Bright Future</p>
                            </div>
                        </div>
                    </div><!--end content-->
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Start Request A Quote -->
        <section class="relative md:py-24 py-16 bg-[url('../../assets/images/solar/bg/1.jpg')] bg-no-repeat bg-fixed bg-top bg-cover" id="table">
            <div class="absolute inset-0 bg-slate-900/60"></div>
            <div class="container relative">
                <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
                    <div>
                        <h4 class="mb-6 md:text-4xl text-3xl md:leading-normal leading-normal font-semibold text-white">Best Solution for <br> Your Home Service</h4>

                        <p class="text-white/70 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>

                        <div class="grid md:grid-cols-2 mt-4">
                            <ul class="list-none">
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar Panel Installation</span></li>
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar System Design</span></li>
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar Energy Consultation</span></li>
                            </ul>

                            <ul class="list-none">
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar System Maintenance</span></li>
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar Energy Storage</span></li>
                                <li class="mt-2"><i class="mdi mdi-arrow-right text-[14px] text-white"></i> <span class="text-white/50">Solar Financing</span></li>
                            </ul>
                        </div>

                        <div class="mt-6">
                            <a href="" class="h-10 px-5 tracking-wide inline-flex items-center justify-center font-medium rounded bg-primary text-white">Learn More <i class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>

                        <div class="flex items-center mt-8">
                            <i class="mdi mdi-phone me-2 text-white text-5xl"></i>
                            <div class="content">
                                <h6 class="text-base font-medium text-white/70">Received and acurate quote within in 3-5 days</h6>
                                <a href="tel:+152534-468-854" class="text-white font-semibold">+152 534-468-854</a>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white dark:bg-slate-900 shadow-md dark:shadow-gray-800 rounded lg:p-12 p-6 lg:ms-12">
                        <div class="section-title mb-4">
                            <h4 class="text-2xl font-bold uppercase mb-4">Request A Quote</h4>
                            <p class="text-slate-400 mx-auto para-desc">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                        </div>

                        <form>
                            <div class="grid md:grid-cols-12 grid-cols-1 gap-4 mt-6">
                                <div class="md:col-span-6">
                                    <label class="font-semibold">Your Name:</label>
                                    <input name="name" id="name" type="text" class="w-full py-2 px-3 border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary bg-transparent focus:outline-none rounded h-10 mt-1 focus:ring-0" placeholder="First Name:">
                                </div>

                                <div class="md:col-span-6">
                                    <label class="font-semibold">Your Email:</label>
                                    <input name="email" id="email" type="email" class="w-full py-2 px-3 border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary bg-transparent focus:outline-none rounded h-10 mt-1 focus:ring-0" placeholder="Your email:">
                                </div> 

                                <div class="md:col-span-6">
                                    <label class="font-semibold">Phone no.:</label>
                                    <input name="number" type="number" id="phone-number" class="w-full py-2 px-3 border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary bg-transparent focus:outline-none rounded h-10 mt-1 focus:ring-0" placeholder="Phone no.:">
                                </div> 

                                <div class="md:col-span-6">
                                    <label class="font-semibold">Electricity usage in kWh?</label>
                                    <input name="name" id="kWh" type="text" class="w-full py-2 px-3 border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary bg-transparent focus:outline-none rounded h-10 mt-1 focus:ring-0" placeholder="kWh">
                                </div>

                                <div class="md:col-span-12">
                                    <label class="font-semibold">System Type:</label>
                                    <select class="form-select w-full py-2 px-3 border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary bg-transparent focus:outline-none rounded h-10 mt-1 focus:ring-0">
                                        <option value="USA">Solar for water</option>
                                        <option value="CAD">Solar Panels</option>
                                    </select>
                                </div>

                                <div class="md:col-span-12">
                                    <h6 class="font-semibold">Select Contact Method:</h6>

                                    <ul class="list-none mt-1">
                                        <li class="inline-block me-2">
                                            <div class="flex items-center mb-0">
                                                <input class="form-checkbox size-4 appearance-none rounded border border-gray-200 dark:border-gray-800 accent-primary checked:appearance-auto dark:accent-primary focus:border-primary-300 focus:ring-0 focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2" type="checkbox" value="" id="ViaCall">
                                                <label class="form-checkbox-label text-slate-400" for="ViaCall">Phone</label>
                                            </div>
                                        </li>
                                        <li class="inline-block">
                                            <div class="flex items-center mb-0">
                                                <input class="form-checkbox size-4 appearance-none rounded border border-gray-200 dark:border-gray-800 accent-primary checked:appearance-auto dark:accent-primary focus:border-primary-300 focus:ring-0 focus:ring-offset-0 focus:ring-primary-200 focus:ring-opacity-50 me-2" type="checkbox" value="" id="ViaEmail">
                                                <label class="form-checkbox-label text-slate-400" for="ViaEmail">Email</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--end grid-->

                            <div class="grid grid-cols-1 mt-4">
                                <input type="submit" id="submit" name="send" class="h-10 px-5 tracking-wide inline-flex items-center justify-center font-medium rounded bg-primary text-white" value="Submit Request">
                            </div><!--end grid-->
                        </form><!--end form-->
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Request A Quote -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container relative">
                <div class="grid grid-cols-1 pb-6 text-center">
                    <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Latest Blogs & News</h4>

                    <p class="text-slate-400 max-w-xl mx-auto">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                </div><!--end grid-->

                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/solar/project/7.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">ReNew’s Solar Manufacturing Plant: Setting in Sustainable Innovation</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--blog end-->

                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/solar/project/8.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">Women Empowerment: Key to Addressing Climate Change</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--blog end-->

                    <div class="blog relative rounded shadow-sm dark:shadow-gray-800 overflow-hidden">
                        <img src="assets/images/solar/project/9.jpg" alt="">

                        <div class="content p-6">
                            <a href="blog-detail.html" class="title h5 text-lg font-medium hover:text-primary duration-500 ease-in-out">ReNew Solar Manufacturing: Fueling Global Decarbonization Dreams</a>
                            <p class="text-slate-400 mt-3">The phrasal sequence of the is now so that many campaign and benefit</p>
                            
                            <div class="mt-4">
                                <a href="blog-detail.html" class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-normal hover:text-primary after:bg-primary duration-500 ease-in-out">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--blog end-->
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer.html")

        @@include("partials/cookies.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>