@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        @@include("partials/head-css.html")
    </head>

    @@include("partials/body.html")
        <!-- Start -->
        <section class="relative h-screen flex items-center justify-center text-center bg-gray-50 dark:bg-slate-800">
            <div class="container relative">
                <div class="grid grid-cols-1">
                    <div class="title-heading text-center my-auto">
                        <div class="size-24 bg-primary/5 text-primary rounded-full text-5xl flex align-middle justify-center items-center shadow-xs dark:shadow-gray-800 mx-auto">
                            <i class="uil uil-thumbs-up"></i>
                        </div>
                        <h1 class="mt-6 mb-8 md:text-5xl text-3xl font-bold">Thank You</h1>
                        <p class="text-slate-400 max-w-xl mx-auto">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind x3 html page.</p>
                        
                        <div class="mt-6">
                            <a href="index.html" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary/5 hover:bg-primary border-primary/10 hover:border-primary text-primary hover:text-white rounded-md">Back to Home</a>
                        </div>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <div class="fixed bottom-3 end-3">
            <a href="" class="back-button size-9 inline-flex items-center justify-center tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-full"><i data-feather="arrow-left" class="size-4"></i></a>
        </div>

        @@include("partials/switcher.html")
        
        <!-- JAVASCRIPTS -->
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>