@@include("partials/main.html")
    <head>
        @@include("partials/title-meta.html", {"title": "Techwind"})

        <!-- Css -->
        <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
        @@include("partials/head-css.html")
    </head>
    
    @@include("partials/body.html")
        
        @@include("partials/navbar/nav-shop.html")

        <!-- Start Hero -->
        <section class="relative table w-full py-20 lg:py-24 bg-gray-50 dark:bg-slate-800">
            <div class="container relative">
                <div class="grid grid-cols-1 mt-14">
                    <h3 class="text-3xl leading-normal font-semibold">My Account</h3>
                </div><!--end grid-->

                <div class="relative mt-3">
                    <ul class="tracking-[0.5px] mb-0 inline-block">
                        <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out hover:text-primary"><a href="index-shop.html">Techwind</a></li>
                        <li class="inline-block text-base text-slate-950 dark:text-white mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
                        <li class="inline-block uppercase text-[13px] font-bold text-primary" aria-current="page">My Account</li>
                    </ul>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Hero -->

        <!-- Start -->
        <section class="relative md:py-24 py-16">
            <div class="container">
                <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-[30px]">
                    <div class="lg:col-span-3 md:col-span-5">
                        <div class="flex items-center">
                            <img src="assets/images/client/05.jpg" class="size-16 rounded-full shadow-sm dark:shadow-gray-800" alt="">
                            <div class="ms-2">
                                <p class="font-semibold text-slate-400">Hello,</p>
                                <h5 class="text-lg font-semibold">Cally Joseph</h5>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="lg:col-span-9 md:col-span-7">
                        <p class="text-slate-400 max-w-xl">Start working with Tailwind CSS that can provide everything you need to generate awareness, drive traffic, connect.</p>
                    </div><!--end col-->

                    <div class="lg:col-span-3 md:col-span-5">
                        <div class="sticky top-20">
                            <ul class="flex-column p-6 bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-800 rounded-md" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                                <li role="presentation">
                                    <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full hover:text-primary duration-500" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="true"><i class="uil uil-dashboard text-[20px] me-2 align-middle"></i> Dashboard</button>
                                </li>
                                <li role="presentation">
                                    <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500" id="order-tab" data-tabs-target="#order" type="button" role="tab" aria-controls="order" aria-selected="false"><i class="uil uil-list-ul text-[20px] me-2 align-middle"></i> Orders</button>
                                </li>
                                <li role="presentation">
                                    <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500" id="download-tab" data-tabs-target="#download" type="button" role="tab" aria-controls="download" aria-selected="false"><i class="uil uil-arrow-circle-down text-[20px] me-2 align-middle"></i> Downloads</button>
                                </li>
                                <li role="presentation">
                                    <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500" id="address-tab" data-tabs-target="#address" type="button" role="tab" aria-controls="address" aria-selected="false"><i class="uil uil-map-marker text-[20px] me-2 align-middle"></i> Addresses</button>
                                </li>
                                <li role="presentation">
                                    <button class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500" id="accountdetail-tab" data-tabs-target="#accountdetail" type="button" role="tab" aria-controls="accountdetail" aria-selected="false"><i class="uil uil-user text-[20px] me-2 align-middle"></i> Account Details</button>
                                </li>
                                <li role="presentation">
                                    <a href="auth-login.html" class="px-4 py-2 text-start text-base font-semibold rounded-md w-full mt-3 duration-500 hover:bg-slate-50 dark:hover:bg-slate-800 hover:text-primary dark:hover:text-white block" type="button"><i class="uil uil-sign-out-alt text-[20px] me-2 align-middle"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div><!--end col-->

                    <div class="lg:col-span-9 md:col-span-7">
                        <div id="myTabContent" class="p-6 bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-800 rounded-md">
                            <div class="" id="dashboard" role="tabpanel" aria-labelledby="profile-tab">
                                <p class="text-slate-400 font-semibold">Hello <span class="text-slate-900 dark:text-white">cally_joseph</span> (not <span class="text-slate-900 dark:text-white">cally_joseph</span>? <a href="javascript:void(0)" class="text-red-600">Log out</a>)</p>

                                <p class="text-slate-400 font-semibold mt-4">From your account dashboard you can view your <a href="javascript:void(0)" class="text-red-600">recent orders</a>, manage your <a href="javascript:void(0)" class="text-red-600">shipping and billing addresses</a>, and <a href="javascript:void(0)" class="text-red-600">edit your password and account details</a>.</p>
                            </div>

                            <div class="hidden" id="order" role="tabpanel" aria-labelledby="order-tab">
                                <div class="relative overflow-x-auto shadow-sm dark:shadow-gray-800 rounded-md">
                                    <table class="w-full text-start text-slate-500 dark:text-slate-400">
                                        <thead class="text-sm uppercase bg-slate-50 dark:bg-slate-800">
                                            <tr class="text-start">
                                                <th scope="col" class="px-2 py-3 text-start">Order no.</th>
                                                <th scope="col" class="px-2 py-3 text-start">Date</th>
                                                <th scope="col" class="px-2 py-3 text-start">Status</th>
                                                <th scope="col" class="px-2 py-3 text-start">Total</th>
                                                <th scope="col" class="px-2 py-3 text-start">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white dark:bg-slate-900 text-start">
                                                <th class="px-2 py-3 text-start" scope="row">7107</th>
                                                <td class="px-2 py-3 text-start">1st November 2021</td>
                                                <td class="px-2 py-3 text-start text-green-600">Delivered</td>
                                                <td class="px-2 py-3 text-start">$ 320 <span class="text-slate-400">for 2items</span></td>
                                                <td class="px-2 py-3 text-start"><a href="javascript:void(0)" class="text-primary">View <i class="uil uil-arrow-right"></i></a></td>
                                            </tr>

                                            <tr class="bg-white dark:bg-slate-900 text-start border-t border-gray-100 dark:border-gray-800">
                                                <th class="px-2 py-3 text-start" scope="row">8007</th>
                                                <td class="px-2 py-3 text-start">4th November 2021</td>
                                                <td class="px-2 py-3 text-start text-slate-400">Processing</td>
                                                <td class="px-2 py-3 text-start">$ 800 <span class="text-slate-400">for 1item</span></td>
                                                <td class="px-2 py-3 text-start"><a href="javascript:void(0)" class="text-primary">View <i class="uil uil-arrow-right"></i></a></td>
                                            </tr>

                                            <tr class="bg-white dark:bg-slate-900 text-start border-t border-gray-100 dark:border-gray-800">
                                                <th class="px-2 py-3 text-start" scope="row">8008</th>
                                                <td class="px-2 py-3 text-start">4th November 2021</td>
                                                <td class="px-2 py-3 text-start text-red-600">Canceled</td>
                                                <td class="px-2 py-3 text-start">$ 800 <span class="text-slate-400">for 1item</span></td>
                                                <td class="px-2 py-3 text-start"><a href="javascript:void(0)" class="text-primary">View <i class="uil uil-arrow-right"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="hidden" id="download" role="tabpanel" aria-labelledby="download-tab">
                                <div class="relative overflow-x-auto shadow-sm dark:shadow-gray-800 rounded-md">
                                    <table class="w-full text-start text-slate-500 dark:text-slate-400">
                                        <thead class="text-sm uppercase bg-slate-50 dark:bg-slate-800">
                                            <tr class="text-start">
                                                <th scope="col" class="px-2 py-3 text-start min-w-[160px]">Product Name</th>
                                                <th scope="col" class="px-2 py-3 text-start min-w-[360px]">Description</th>
                                                <th scope="col" class="px-2 py-3 text-start min-w-[160px]">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white dark:bg-slate-900 text-start">
                                                <th class="px-2 py-3 text-start" scope="row">Quick heal</th>
                                                <td class="px-2 py-3 text-start">It is said that song composers of the past used dummy texts as lyrics when writing melodies in order to have a 'ready-made' text to sing with the melody.</td>
                                                <td class="px-2 py-3 text-start text-green-600">Downloaded</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="hidden" id="address" role="tabpanel" aria-labelledby="address-tab">
                                <h6 class="text-slate-400 mb-0">The following addresses will be used on the checkout page by default.</h6>
                                <div class="md:flex mt-6">
                                    <div class="md:w-1/2 md:px-3">
                                        <div class="flex items-center mb-4 justify-between">
                                            <h5 class="text-xl font-semibold">Billing Address:</h5>
                                            <a href="#" class="text-primary text-lg"><i class="uil uil-edit align-middle"></i></a>
                                        </div>
                                        <div class="pt-4 border-t border-gray-100 dark:border-gray-800">
                                            <p class="text-lg font-semibold mb-2">Cally Joseph</p>

                                            <ul class="list-none">
                                                <li class="flex">
                                                    <i class="uil uil-map-marker text-lg me-2"></i>
                                                    <p class="text-slate-400">C/54 Northwest Freeway, Suite 558, <br> Houston, USA 485</p>
                                                </li>

                                                <li class="flex mt-1">
                                                    <i class="uil uil-phone text-lg me-2"></i>
                                                    <p class="text-slate-400">+123 897 5468</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="md:w-1/2 md:px-3 mt-[30] md:mt-0">
                                        <div class="flex items-center mb-4 justify-between">
                                            <h5 class="text-xl font-semibold">Shipping Address:</h5>
                                            <a href="#" class="text-primary text-lg"><i class="uil uil-edit align-middle"></i></a>
                                        </div>
                                        <div class="pt-4 border-t border-gray-100 dark:border-gray-800">
                                            <p class="text-lg font-semibold mb-2">Cally Joseph</p>

                                            <ul class="list-none">
                                                <li class="flex">
                                                    <i class="uil uil-map-marker text-lg me-2"></i>
                                                    <p class="text-slate-400">C/54 Northwest Freeway, Suite 558, <br> Houston, USA 485</p>
                                                </li>

                                                <li class="flex mt-1">
                                                    <i class="uil uil-phone text-lg me-2"></i>
                                                    <p class="text-slate-400">+123 897 5468</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden" id="accountdetail" role="tabpanel" aria-labelledby="accountdetail-tab">
                                <h5 class="text-lg font-semibold mb-4">Personal Detail :</h5>
                                <form>
                                    <div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
                                        <div>
                                            <label class="form-label font-medium">First Name : <span class="text-red-600">*</span></label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="user" class="size-4 absolute top-3 start-4"></i>
                                                <input type="text" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="First Name:" id="firstname" name="name" required="">
                                            </div>
                                        </div>
                                        <div>
                                            <label class="form-label font-medium">Last Name : <span class="text-red-600">*</span></label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="user-check" class="size-4 absolute top-3 start-4"></i>
                                                <input type="text" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Last Name:" id="lastname" name="name" required="">
                                            </div>
                                        </div>
                                        <div>
                                            <label class="form-label font-medium">Your Email : <span class="text-red-600">*</span></label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="mail" class="size-4 absolute top-3 start-4"></i>
                                                <input type="email" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Email" name="email" required="">
                                            </div>
                                        </div>
                                        <div>
                                            <label class="form-label font-medium">Occupation : </label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="bookmark" class="size-4 absolute top-3 start-4"></i>
                                                <input name="name" id="occupation" type="text" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Occupation :">
                                            </div>
                                        </div>
                                    </div><!--end grid-->

                                    <div class="grid grid-cols-1">
                                        <div class="mt-5">
                                            <label class="form-label font-medium">Description : </label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="message-circle" class="size-4 absolute top-3 start-4"></i>
                                                <textarea name="comments" id="comments" class="form-input ps-11 w-full py-2 px-3 h-28 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Message :"></textarea>
                                            </div>
                                        </div>
                                    </div><!--end row-->

                                    <input type="submit" id="submit" name="send" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md mt-5" value="Save Changes">
                                </form><!--end form-->

                                <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 mt-6">
                                    <div>
                                        <h5 class="text-lg font-semibold mb-4">Contact Info :</h5>
    
                                        <form>
                                            <div class="grid grid-cols-1 gap-5">
                                                <div>
                                                    <label class="form-label font-medium">Phone No. :</label>
                                                    <div class="form-icon relative mt-2">
                                                        <i data-feather="phone" class="size-4 absolute top-3 start-4"></i>
                                                        <input name="number" id="number" type="number" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Phone :">
                                                    </div>
                                                </div>
    
                                                <div>
                                                    <label class="form-label font-medium">Website :</label>
                                                    <div class="form-icon relative mt-2">
                                                        <i data-feather="globe" class="size-4 absolute top-3 start-4"></i>
                                                        <input name="url" id="url" type="url" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Url :">
                                                    </div>
                                                </div>
                                            </div><!--end grid-->
    
                                            <button class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md mt-5">Add</button>
                                        </form>
                                    </div><!--end col-->
                                    
                                    <div> 
                                        <h5 class="text-lg font-semibold mb-4">Change password :</h5>
                                        <form>
                                            <div class="grid grid-cols-1 gap-5">
                                                <div>
                                                    <label class="form-label font-medium">Old password :</label>
                                                    <div class="form-icon relative mt-2">
                                                        <i data-feather="key" class="size-4 absolute top-3 start-4"></i>
                                                        <input type="password" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Old password" required="">
                                                    </div>
                                                </div>
        
                                                <div>
                                                    <label class="form-label font-medium">New password :</label>
                                                    <div class="form-icon relative mt-2">
                                                        <i data-feather="key" class="size-4 absolute top-3 start-4"></i>
                                                        <input type="password" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="New password" required="">
                                                    </div>
                                                </div>
        
                                                <div>
                                                    <label class="form-label font-medium">Re-type New password :</label>
                                                    <div class="form-icon relative mt-2">
                                                        <i data-feather="key" class="size-4 absolute top-3 start-4"></i>
                                                        <input type="password" class="form-input ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-primary dark:border-gray-800 dark:focus:border-primary focus:ring-0" placeholder="Re-type New password" required="">
                                                    </div>
                                                </div>
                                            </div><!--end grid-->
        
                                            <button class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md mt-5">Save password</button>
                                        </form>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end grid-->
            </div><!--end container-->

            <div class="container relative md:mt-24 mt-16">
                <div class="grid md:grid-cols-12 grid-cols-1 items-center">
                    <div class="lg:col-span-5 md:col-span-6">
                        <img src="assets/images/illustrator/envelope.svg" class="mx-auto d-block" alt="">
                    </div>

                    <div class="lg:col-span-7 md:col-span-6">
                        <span class="bg-primary/5 text-primary text-xs font-bold px-2.5 py-0.5 rounded h-5">Mobile Apps</span>
                        <h4 class="md:text-3xl text-2xl lg:leading-normal leading-normal font-medium my-4">Available for your <br> Smartphones</h4>
                        <p class="text-slate-400 max-w-xl mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        <div class="my-5">
                            <a href=""><img src="assets/images/app/app.png" class="m-1 inline-block" alt=""></a>

                            <a href=""><img src="assets/images/app/playstore.png" class="m-1 inline-block" alt=""></a>
                        </div>

                        <div class="inline-block">
                            <div class="pt-4 flex items-center border-t border-gray-100 dark:border-gray-800">
                                <i data-feather="smartphone" class="me-2 text-primary size-10"></i>
                                <div class="content">
                                    <h6 class="text-base font-medium">Install app now on your cellphones</h6>
                                    <a href="" class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Learn More <i class="uil uil-angle-right-b"></i></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end gird-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        @@include("partials/footer/footer-shop.html")

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-primary text-white leading-9"><i class="uil uil-arrow-up"></i></a>
        <!-- Back to top -->

        @@include("partials/switcher.html")

        <!-- JAVASCRIPTS -->
        <script src="assets/libs/shufflejs/shuffle.min.js"></script>
        <script src="assets/libs/jarallax/jarallax.min.js"></script>
        <script src="assets/libs/tiny-slider/min/tiny-slider.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        @@include("partials/script-file.html")
        <!-- JAVASCRIPTS -->
    </body>
</html>